graft src
graft tests
prune devtools

recursive-include docs/source *.py
recursive-include docs/source *.rst
recursive-include docs Makefile

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store *.gpickle

exclude .bumpversion.cfg
include *.rst *.txt *.yml *.ini LICENSE .flake8 .coveragerc
